<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="mc-shop" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
        <meta name="keywords" content="">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.png') }}">

        <title>
            {% block title %}Shopping{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    {% include 'partials/header.html.twig' %}
    <div class="main_content">
        {% block body %}
        {% endblock %}
    </div>

    {% include 'partials/footer.html.twig' %}
    </body>
</html>
