{% extends 'base.html.twig' %}
 {% block title %}
     MC SHOP
 {% endblock %}

{% block body %}
    {{ include('partials/title_section.html.twig', {name: 'Home page'}) }}
    <h1>Index page home</h1>
{% endblock %}