{% extends 'base.html.twig' %}
 {% block title %}
     Welcome in index page
 {% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <h1>Index page home</h1>
    {% include 'partials/footer.html.twig' %}
{% endblock %}