{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    {{ include('partials/title_section.html.twig', {name: 'cgu'}) }}
    <div class="container">
        <h1 class="text-center">Conditions générales d'utilisation</h1>
        <p class="text-justify">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, cupiditate deserunt distinctio dolorum eaque eligendi et excepturi modi molestias nemo nostrum officiis praesentium quasi quod ratione recusandae ut veritatis voluptatem!</span><span>A accusamus ad adipisci consectetur dolore doloremque, earum eius eligendi esse harum illo ipsum iure iusto magnam magni modi natus nisi obcaecati odio placeat qui quia quisquam, soluta, ullam vitae.</span>
        </p>
    </div>
{% endblock %}
